[Unit]
Description=nombreservidor Servidor Minecraft Bedrock
After=network-online.target

[Service]
User=userxname
WorkingDirectory=directorio/nombreservidor
Type=forking
ExecStart=/bin/bash directorio/nombreservidor/iniciar.sh
ExecStop=/bin/bash directorio/nombreservidor/detener.sh
GuessMainPID=no
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target